*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
font-family:'Poppins',sans-serif;
}

body{
background:#050505;
color:white;
overflow-x:hidden;
}
/* BACKGROUND */

.particles{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
background:
radial-gradient(circle at 20% 20%,rgba(0,255,136,.15),transparent 25%),
radial-gradient(circle at 80% 30%,rgba(0,255,136,.1),transparent 25%),
radial-gradient(circle at 50% 80%,rgba(0,255,136,.1),transparent 25%);
z-index:-1;
}
/* NAVBAR */

header{
position:sticky;
top:0;
z-index:1000;
backdrop-filter:blur(10px);
background:rgba(0,0,0,.7);
}

.navbar{
max-width:1200px;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
}

.logo{
font-size:1.8rem;
font-weight:700;
}

.logo span{
color:#00ff88;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
margin:0;
padding:0;
}

.nav-links li{
list-style:none;
}

.nav-links a{
position:relative;
text-decoration:none;
color:white;
font-weight:500;
transition:.3s;
}

.nav-links a::after{
content:"";
position:absolute;
left:0;
bottom:-4px;
width:0;
height:2px;
background:#00ff88;
transition:width .3s ease;
}

.nav-links a:hover{
color:#00ff88;
}

.nav-links a:hover::after{
width:100%;
}

.nav-links a.active{
color:#00ff88 !important;
}

.nav-links a.active::after{
width:100% !important;
background:#00ff88;
}
/* HERO */

.hero{
max-width:1200px;
margin:auto;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
gap:80px;
margin-bottom: 10px;
}

.hero-image img{
width:320px;
height:320px;
object-fit:cover;
border-radius:50%;
border:5px solid #00ff88;

box-shadow:
0 0 20px #00ff88,
0 0 40px #00ff88,
0 0 80px rgba(0,255,136,.5);

animation:float 4s ease-in-out infinite;
}

@keyframes float{
0%,100%{
transform:translateY(0);
}
50%{
transform:translateY(-15px);
}
}

.hero-content h2{
font-size:1.2rem;
color:#bdbdbd;
}

.hero-content h1{
font-size:4rem;
margin:10px 0;
}

.hero-content h1 span{
color:#00ff88;
}

.hero-content h2{
font-size:1.4rem;
margin-bottom:20px;
color:#dcdcdc;
}

.hero-content p{
line-height:1.8;
color:#bdbdbd;
font-size: 1rem;
max-width:600px;
font-weight: 500;
}

/* BUTTONS */

.hero-btns{
margin-top:30px;
display:flex;
gap:20px;
flex-wrap:wrap;
}

.btn{
padding:14px 28px;
background:#00ff88;
color:black;
font-weight:600;
border-radius:10px;
text-decoration:none;
transition:.3s;
}

.btn:hover{
transform:translateY(-5px);
box-shadow:0 0 20px #00ff88;
}

.btn-outline{
padding:14px 28px;
border:2px solid #00ff88;
color:#00ff88;
border-radius:10px;
text-decoration:none;
transition:.3s;
}

.btn-outline:hover{
background:#00ff88;
color:black;
}

/* GRID SECTION */

.grid-section{
    max-width:1315px;
    margin:auto;
    padding:60px 25px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.card{
background:#0b0b0b;
padding:25px;
border-radius:20px;
border:1px solid rgba(0,255,136,.2);
transition:.4s;
}
.cards-container{
margin-top: 80px;}
.card:hover{
transform:translateY(-8px);
border-color:#00ff88;
box-shadow:0 0 20px rgba(0,255,136,.3);
}

.card h2{
margin-bottom:20px;
color:#00ff88;
}

/* SKILLS */

.skills-box{
display:flex;
flex-direction:column;
gap:15px;
margin-top:15px;
}

.skill span{
display:flex;
align-items:center;
gap:10px;
font-size:15px;
font-weight:600;
margin-bottom:6px;
color:white;
}

.skill i{
color:#00ff88;
font-size:18px;
}

.bar{
width:100%;
height:8px;
background:#222;
border-radius:20px;
overflow:hidden;
}

.fill{
height:100%;
width:0;

background:linear-gradient(90deg,#ffffff,#00ff88);
box-shadow:0 0 10px rgba(255,255,255,.2);
border-radius:20px;
box-shadow:0 0 10px #00ff88;
transition:width 2s ease;
}

PROJECTS

.project-box{
display:flex;
flex-direction:column;
gap:20px;
}

.project{
padding:20px;
background:#111;
border-radius:15px;
}

.project h3{
margin-bottom:10px;
}

.project p{
color:#bdbdbd;
margin-bottom:15px;
}

.project a{
text-decoration:none;
color:#00ff88;
font-weight:600;
}

/* READ MORE BUTTON */
.read-btn{
margin-top:15px;
padding:12px 20px;
background:#00ff88;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:600;
}
/* POPUP */

.about-popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.9);
justify-content:center;
align-items:center;
z-index:9999;
padding:20px;
}

.popup-content{
width:90%;
max-width:700px;
max-height:85vh;
overflow-y:auto;
background:#0b0b0b;
padding:40px;
border-radius:20px;
border:1px solid #00ff88;
position:relative;
}

.popup-content h2{
color:#00ff88;
margin-bottom:20px;
}

.popup-content p{
line-height:1.8;
color:#d0d0d0;
}

.close-btn{
position:absolute;
right:25px;
top:15px;
font-size:35px;
cursor:pointer;
color:#00ff88;
}

/* CONTACT */


#contact h2{
font-size:2rem;
margin-bottom:30px;
color:#00ff88;
}

.social-icons{
display:flex;
justify-content:center;
gap:30px;
}

.social-icons a{
width:65px;
height:65px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
font-size:28px;
text-decoration:none;
color:#00ff88;
border:2px solid #00ff88;
transition:.3s;
}

.social-icons a:hover{
background:#00ff88;
color:black;
transform:translateY(-8px);
box-shadow:0 0 25px #00ff88;
}

/* FOOTER */

footer{
padding:25px;
text-align:center;
border-top:1px solid rgba(0,255,136,.2);
color:#bdbdbd;
}

/* RESPONSIVE */

@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
min-height:auto;
padding:40px 20px 10px;
gap:30px;
}

.hero-content h1{
font-size:3rem;
}

.hero-image img{
width:250px;
height:250px;
}
}

/* ================= CONTACT SECTION ================= */

#contact{
max-width:1200px;
margin:auto;
padding:0px 20px 80px;
}

.contact-heading{
text-align:center;
margin-bottom:50px;
}

.contact-heading span{
color:#00ff88;
font-weight:600;
letter-spacing:2px;
}

.contact-heading h2{
font-size:3rem;
margin:15px 0;
font-weight:700;
}

.contact-heading h2 span{
color:#00ff88;
}

.contact-heading p{
color:#bdbdbd;
max-width:600px;
margin:auto;
line-height:1.8;
}

.contact-container{
display:grid;
grid-template-columns:1fr 1.2fr;
gap:30px;
align-items:start;
}

/* ================= CONTACT INFO ================= */

.contact-info{
display:flex;
flex-direction:column;
gap:20px;
}

.contact-card{
opacity:0;
animation-fill-mode:forwards;
background:linear-gradient(
145deg,
rgba(20,20,20,.95),
rgba(10,10,10,.95)
);
border:1px solid rgba(255,255,255,.08);
border-radius:22px;
padding:25px;
display:flex;
align-items:center;
justify-content:space-between;
color:white;
text-decoration:none;
transition:.4s ease;
backdrop-filter:blur(12px);
position:relative;
overflow:hidden;
}

.contact-card::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:3px;
background:#00ff88;
}

.contact-card:hover{

transform:translateX(12px) scale(1.02);
border-color:#00ff88;

box-shadow:
0 10px 30px rgba(0,255,136,.18);
}

.contact-card i{
font-size:1.8rem;
color:#00ff88;
margin-right:15px;
}

.contact-card div{
flex:1;
}

.contact-card h3{
margin-bottom:5px;
font-size:1.1rem;
}

.contact-card p{
color:#bdbdbd;
font-size:.95rem;
}

/* ================= CONTACT FORM ================= */

.contact-form{

background:linear-gradient(
145deg,
rgba(20,20,20,.95),
rgba(10,10,10,.95)
);

border:1px solid rgba(255,255,255,.08);
border-radius:22px;
padding:30px;
display:flex;
flex-direction:column;
gap:18px;
backdrop-filter:blur(12px);
position:relative;
overflow:hidden;
}

.contact-form::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:3px;
background:#00ff88;
}

.contact-form input,
.contact-form textarea{
background:#111;
border:1px solid rgba(255,255,255,.08);
padding:16px;
border-radius:14px;
outline:none;
color:white;
font-size:1rem;
transition:.3s;
}

.contact-form input:focus,
.contact-form textarea:focus{
border-color:#00ff88;
box-shadow:0 0 15px rgba(0,255,136,.25);
}

.contact-form textarea{
height:180px;
resize:none;
}

.contact-form button{
padding:16px;
border:none;
border-radius:14px;
background:#00ff88;
color:black;
font-weight:700;
font-size:1rem;
cursor:pointer;
transition:.3s;
}

.contact-form button:hover{
transform:translateY(-4px);

box-shadow:0 0 25px #00ff88;
}

/* ================= MOBILE ================= */

@media(max-width:768px){

.contact-heading h2{
font-size:2rem;
}

.contact-container{
grid-template-columns:1fr;
gap:20px;
}

.contact-card{
padding:20px;
}

.contact-form{
padding:20px;
}

}
.hero-image img{
cursor:pointer;
}
.image-popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.95);
justify-content:center;
align-items:center;
z-index:99999;
}

.full-image{
max-width:90%;
max-height:90%;
border-radius:15px;
border:3px solid #00ff88;
box-shadow:0 0 30px #00ff88;
}

.close-image{
position:absolute;
top:20px;
right:40px;
font-size:50px;
color:#00ff88;
cursor:pointer;
}
.hidden{
opacity:0;
transform:translateX(-80px);
transition:all 0.8s ease;
}

.show{
opacity:1;
transform:translateX(0);
}

.hero-image.hidden{
    transform: translateX(-60px);
}

.hero-image.show{
    transform: translateX(0);
}
@media (max-width: 768px) {

    .navbar{
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
         padding:12px 10px;
        gap:0;
    }

    .logo{
        margin: 0;
        font-size:1rem;
        white-space:nowrap;
    }

    .nav-links{
        display: flex;
        flex-direction: row !important;
        flex-wrap: nowrap;
        gap:10px;
        margin: 0;
        padding: 0;
    }

    .nav-links a{
        font-size: 0.85rem;
    }
 
    .logo span{
        font-size: 1rem; /* pehle 1.2rem tha */
        white-space: nowrap;
    }
    .popup-content{
    width:95%;
    max-height:80vh;
    padding:25px 20px;
}

    .close-btn{
    top:10px;
    right:15px;
    font-size:30px;
    position:sticky;
}
}
/* ================= PROJECT SECTION ================= */

.premium-projects{
    max-width:1335px;
    margin:30px auto;
    padding:0 25px;
}
.project-header{
    text-align:center;
    margin-bottom:50px;
}

.project-header h2{
    font-size:3rem;
    color:#fff;
}

.project-header i{
    color:#00ff88;
}

/* GRID */

.premium-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
    gap:30px;
}

/* CARD */

.premium-card{
    background:#0b0b0b;
    border:1px solid rgba(0,255,136,.15);
    border-radius:24px;
    overflow:hidden;
    position:relative;
    transition:.2s;
}

.premium-card::before{
    content:"";
    position:absolute;
    top:-100%;
    left:-100%;
    width:250%;
    height:250%;

    background:
    linear-gradient(
        45deg,
        transparent,
        rgba(255,255,255,.05),
        transparent
    );

    transition:1s;
}

.premium-card:hover::before{
    top:100%;
    left:100%;
}

.premium-card:hover{
    transform:translateY(-12px);
    border-color:#00ff88;

    box-shadow:
    0 0 20px rgba(0,255,136,.25),
    0 0 40px rgba(0,255,136,.15);
}

/* IMAGE */

.project-image{
    overflow:hidden;
}.timeline-content h3{
    margin:8px;
}
.project-image img{
    width:100%;
    height:240px;
    object-fit:cover;
    transition:.6s;
}

.premium-card:hover img{
    transform:scale(1.08);
}

/* CONTENT */

.project-info{
    padding:24px;
}

/* ICON */

.project-icon{

    width:52px;
    height:52px;

    display:flex;
    align-items:center;
    justify-content:center;

    flex-shrink:0;

    border-radius:14px;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,.08);

    color:#00ff88;

    font-size:1.3rem;

    margin-bottom:0;

    transition:.3s;
}
.premium-card:hover .project-icon{

    background:rgba(0,255,136,.1);

    border-color:rgba(0,255,136,.3);

    transform:scale(1.08);
}

/* TITLE */

.title-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.title-left h3{
    margin:0;
    font-size:1.5rem;
    color:#fff;
}
.title-left{
    display:flex;
    align-items:center;
    gap:14px;
}

/* GITHUB */

.github-btn{
    width:46px;
    height:46px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:12px;
    background:rgba(255,255,255,.05);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,.08);
    color:white;
    text-decoration:none;
    transition:.3s;
}
.github-btn:hover{
    transform:translateY(-2px);
    border-color:#00ff88;
    color:#00ff88;
    box-shadow:0 0 12px rgba(0,255,136,.25);
}
/* DESCRIPTION */

.project-info p{
    color:#bdbdbd;
    line-height:1.8;
    margin-bottom:20px;
}

/* TECH TAGS */

.tech-tags{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:22px;
}

.tech-tags span{
    padding:8px 14px;
    border-radius:50px;
    font-size:.82rem;
    font-weight:600;
    transition:.3s;
}
/* COLORS */
.tech-tags span{
    padding:8px 14px;
    border-radius:50px;
    background:rgba(255,255,255,.05);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,.08);
    font-size:.82rem;
    font-weight:600;
}
.tech-tags span:nth-child(1){
    color:#ff6b35; /* HTML */
}

.tech-tags span:nth-child(2){
    color:#4da6ff; /* CSS */
}

.tech-tags span:nth-child(3){
    color:#ffd43b; /* JS */
}

.tech-tags span:nth-child(4){
    color:#9b5cff; /* API / Node */
}

.tech-tags span:nth-child(5){
    color:#22c55e; /* MySQL */
}
.tech-tags span:nth-child(6){
    color:#22c55e; /* MySQL */
}

.tech-tags span:nth-child(7){
    color:#06b6d4; /* REST API */
}

.tech-tags span:nth-child(8){
    color:#f97316; /* Multer */
}

.tech-tags span:nth-child(9){
    color:#ef4444; /* Render */
}

.tech-tags span:nth-child(10){
    color:#ffffff; /* GitHub */
}
/* LIVE BUTTON */

.view-btn{
    display:inline-flex;
    align-items:center;
    gap:10px;
    padding:13px 20px;
    border-radius:12px;
    text-decoration:none;
    background:#00ff88;
    color:black;
    font-weight:700;
    transition:.4s;
}

.view-btn:hover{
    transform:translateY(-4px);
    box-shadow:
    0 0 20px #00ff88;
}

/* STAGGER */

.card-1{
    transition-delay:.2s;
}
.card-2{
    transition-delay:.5s;
}
.card-3{
    transition-delay:.8s;
}
/* MOBILE */

@media(max-width:768px){

    .project-header h2{
        font-size:2rem;
    }

    .project-image img{
        height:200px;
    }

}
.skill-card{
    transition:.3s;
}

.skill-card:hover{
    transform:translateY(-8px);
    border-color:#00ff88;

    box-shadow:
    0 0 20px rgba(0,255,136,.25),
    0 0 40px rgba(0,255,136,.15);
}
.title-left{
    display:flex;
    align-items:center;
    gap:14px;
}
.project-actions{
    display:flex;
    align-items:center;
    width:100%;
    margin-top:15px;
}

.project-actions .github-btn{
    margin-left:auto;
    width:50px;
    height:50px;
}
#about p{
    color:#d8d8d8;
    font-size:1rem;
    line-height:1.5;
    letter-spacing:0.4px;
    word-spacing:1px;
    text-align:left;
    margin-top:15px;
     font-weight:400; 
}

.premium-card{
    display:flex;
    flex-direction:column;
    height:100%;
}

.project-info{
    display:flex;
    flex-direction:column;
    flex:1;
}

.project-actions{
    margin-top:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#contact{
    margin-top: 80px;
}
.education-card{
    position:relative;
}

.timeline{
    position:relative;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.timeline-item{
    display:flex;
    gap:18px;
    position:relative;
}
.timeline-icon{
    width:38px;
    height:38px;
    min-width:38px;
    font-size:.8rem;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    border:2px solid #00ff88;
    color:#00ff88;
    background:#0b0b0b;
    transition:.3s;
}

.year-badge{
    display:inline-block;
    padding:6px 12px;
    border-radius:30px;
    background:rgba(0,255,136,.1);
    color:#00ff88;
    font-size:.8rem;
    font-weight:600;
    margin-bottom:12px;
}

.college{
    color:#00ff88 !important;
    font-weight:600;
}

.edu-top{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:15px;
}

.lpu-logo{
    width:55px;
    height:55px;
    border-radius:50%;
    object-fit:cover;
    border:2px solid #00ff88;
    flex-shrink:0;
}

.timeline-content{
    transition:.3s ease;
}

.timeline-item:hover{
    transform:translateY(-3px);
}
.timeline-content{
    flex:1;
}

.timeline-item{
    display:flex;
    gap:18px;
    align-items:flex-start;
    transition:.3s ease;
}
.edu-desc{
    color:#bdbdbd;
    font-size:.9rem;
    line-height:1.5;
    margin-top:5px;
}
.edu-top{
    display:flex;
    align-items:flex-start;
    gap:10px;
}

.edu-top > div{
    flex:1;
}

.timeline-content h3{
    font-size:1rem;
    line-height:1.25;
    margin-bottom:4px;
}

.college{
    font-size:0.85rem;
    margin-bottom:3px;
}

.edu-desc{
    font-size:0.8rem;
    line-height:1.35;
}
.year-badge{
    padding:4px 10px;
    font-size:.72rem;
    margin-bottom:6px;
}
/* Education Compact Version */

.timeline{
    gap:18px;
}

.timeline-item{
    gap:12px;
}

.timeline-content h3{
    margin:4px 0;
}

.college{
    margin-top:4px;
    margin-bottom:2px;
    line-height:1.2;
}

.edu-desc{
    margin-top:0;
    line-height:1.2;
}

.timeline{
    gap:12px;
}

.timeline-content h3{
    font-size:.98rem;
    line-height:1.15;
    margin:1px 0;
}

.college{
    font-size:.82rem;
    line-height:1.15;
    margin:2px 0 !important;
}

.edu-desc{
    font-size:.8rem;
    line-height:1.25;
    margin-top:2px !important;
}
.timeline-content h3{
    font-size:0.98rem;
    line-height:1.15;
    margin-bottom:6px;
}
@media (max-width: 768px){

    .grid-section{
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 30px 15px;
    }

    .card{
        width:100%;
    }

    .cards-container{
        margin-top:40px;
    }

}
/* ================= SKILLS ================= */

.skills-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 15px;
}


/* Individual Skill */

.skill-item {
    display: flex;
    align-items: center;

    min-height: 58px;
    padding: 8px 12px;

    background: #111;

    border: 1px solid rgba(0, 255, 136, 0.18);
    border-radius: 10px;

    box-sizing: border-box;

    transition: 0.3s ease;
}

.skill-item:hover {
    transform: translateX(4px);

    border-color: #00ff88;

    box-shadow: 0 0 12px rgba(0, 255, 136, 0.15);
}


/* Skill Icon */

.skill-icon {
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;

    margin-right: 10px;

    flex-shrink: 0;
}


/* Skill Information */

.skill-info {
    flex: 1;
}

.skill-info h3 {
    margin: 0 0 3px;

    color: #fff;

    font-size: 15px;
    font-weight: 600;
}

.skill-info p {
    margin: 0;

    color: #aaa;

    font-size: 12px;

    line-height: 1.3;
}


/* Green Dot */

.skill-dot {
    width: 8px;
    height: 8px;

    margin-left: 8px;

    background: #00ff88;

    border-radius: 50%;

    box-shadow: 0 0 8px #00ff88;

    flex-shrink: 0;
}


/* Icon Colors */

.html-icon {
    color: #ff5722;
}

.css-icon {
    color: #2196f3;
}

.js-icon {
    color: #f7df1e;
}

.python-icon {
    color: #3776ab;
}

.cpp-icon {
    color: #5c8edc;
}

.sql-icon {
    color: #00e676;
}

.github-icon {
    color: #ffffff;
}

.react-icon {
    color: #61dafb;
}